.channelRow{
    display:flex;
    align-items:center;
    width:70%;
    margin-left:4.5rem;
}

.channelRow__logo{
    width:130px !important;
    height:130px !important;
    margin: 10px 5rem 10px 7.5rem;
}

.channelRow__text{
    display:flex;
    flex-direction:column;
    margin-right:3.5rem;
}

.channelRow__text > p{
   color: #606060;
   font-size: 15px !important;
}

.channelRow__text > h4{
    display:flex;
    align-items:center;
 }

.channelRow__text > h4 >span{
    margin-left:10px;
 }

 .channelRow__button{
     background-color:#c00 !important;
     border-radius:2px !important;
     color:#fff !important;
     font-weight:500 !important;
     letter-spacing: .007px !important;
     padding-left:20px !important;
 }

 .channelRow__description{
     margin-top:5px;
 }