.searchPage {
    flex:0.885;
    background-color: #f9f9f9;
    padding: 3rem;
}

.searchPage__filter{
    display:flex;
    align-items:center;
    color:#606060;
    font-size: xx-small !important;
}

.searchPage__filter > h2 {
    margin-left:10px;
    font-size:17px;
    font-weight:normal;
}

.searchPage > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}

.searchPage__latest{
    color: #030303;
    font-size:17px;
    font-weight:normal;
    margin:2rem 9rem !important;
}